<div class="row">
  <div class="col-sm-12">
  <h3 style="display:inline-block;"><%= @program.name %></h3>
    <div class="actions float-right">
    <%= link_to 'Back', programs_path, class: 'btn btn-link btn-sm' %>
      <%= link_to 'Edit', edit_program_path(@program), class: 'btn btn-link btn-sm', remote: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= @program.description %>
  </div>
</div>

<div id="links" style="margin-top: 20px;">
  <div class="card">
    <div class="card-header" id="cycle-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#cycles" aria-expanded="true" aria-controls="cycles">
          Cycles
        </button>
      </h5>
    </div>

    <div id="cycles" class="collapse show" aria-labelledby="cycle-heading" data-parent="#links">
      <div class="card-body">
        <%= render 'cycles'%>
      </div>
    </div>
  </div>
</div>

