<div class="row">
  <div class="col-sm-12">
  <h3 style="display:inline-block;"><%= @program.name %></h3>
    <div class="actions float-right">
    <%= link_to 'Back', programs_path, class: 'btn btn-link btn-sm' %>
      <%= link_to 'Edit', edit_program_path(@program), class: 'btn btn-link btn-sm', remote: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= @program.description %>
  </div>
</div>

<div id="links-accordion" style="margin-top: 20px;">
  <div class="card">
    <div class="card-header" id="cycle-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#cycles" aria-expanded="false" aria-controls="cycles">
          Cycles
        </button>
        <%= link_to new_program_cycle_path( program_id: @program.id), class: 'btn btn-success btn-sm float-right', remote: true do%>
          <i class="fa fa-plus"></i>
        <%end%>
      </h5>
    </div>

    <div id="cycles" class="collapse" aria-labelledby="cycle-heading" data-parent="#links-accordion">
      <div class="card-body">
        <%= render 'cycles'%>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#links-accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

