<%= form_with(model: program_cycle, remote: true) do |form| %>
    <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>

  <%= form.hidden_field :program_id, id: :program_cycle_program_id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :program_cycle_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :program_cycle_description %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= form.label :starts_on %>
        <%= form.text_field :starts_on, id: :program_cycle_starts_on, data: {provide: 'datepicker'} %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= form.label :ends_on %>
        <%= form.text_field :ends_on, id: :program_cycle_ends_on, data: {provide: 'datepicker'} %>
      </div>
    </div>
  </div>

<% end %>
